{
    admin off
}

https://{$DOMAIN} {
    encode gzip
    root * /www
    route {
        reverse_proxy {$PANEL_PATH}* http://3x-ui:2053
        reverse_proxy {$SUB_PATH}* http://3x-ui:2096
        reverse_proxy {$XHTTP_PATH}* http://3x-ui:8000
        reverse_proxy {$XHTTP_WARP_PATH}* http://3x-ui:8001
        file_server
    }
}
